/* Roboto */
@font-face {
	font-family: 'Roboto';
	src: url('/font/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	src: url('/font/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	src: url('/font/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	src: url('/font/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	src: url('/font/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	src: url('/font/Roboto-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: block;
}

/* Roboto Italic */
@font-face {
	font-family: 'Roboto';
	src: url('/font/Roboto-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	src: url('/font/Roboto-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	src: url('/font/Roboto-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	src: url('/font/Roboto-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	src: url('/font/Roboto-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	src: url('/font/Roboto-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: block;
}
