$ui-color-white: #fff;
$ui-color-black: #000;

$ui-color-gray-50: #fafafa;
$ui-color-gray-100: #f5f5f5;
$ui-color-gray-200: #e5e5e5;
$ui-color-gray-300: #d4d4d4;
$ui-color-gray-400: #a3a3a3;
$ui-color-gray-500: #737373;
$ui-color-gray-600: #525252;
$ui-color-gray-700: #404040;
$ui-color-gray-800: #262626;
$ui-color-gray-900: #171717;

$ui-color-red-50: #fef2f2;
$ui-color-red-100: #fee2e2;
$ui-color-red-200: #fecaca;
$ui-color-red-300: #fca5a5;
$ui-color-red-400: #f87171;
$ui-color-red-500: #ef4444;
$ui-color-red-600: #dc2626;
$ui-color-red-700: #b91c1c;
$ui-color-red-800: #991b1b;
$ui-color-red-900: #7f1d1d;

$ui-color-primary: #306fdb;
$ui-color-danger: $ui-color-red-400;

$ui-font-size-xs: 0.75rem; /* 12px */
$ui-font-size-sm: 0.875rem; /* 14px */
$ui-font-size-base: 1rem; /* 16px */
$ui-font-size-lg: 1.125rem; /* 18px */
$ui-font-size-xl: 1.25rem; /* 20px */
$ui-font-size-2xl: 1.5rem; /* 24px */
$ui-font-size-3xl: 1.875rem; /* 30px */
$ui-font-size-4xl: 2.25rem; /* 36px */
$ui-font-size-5xl: 3rem; /* 48px */
$ui-font-size-6xl: 3.75rem; /* 60px */
$ui-font-size-7xl: 4.5rem; /* 72px */
$ui-font-size-8xl: 6rem; /* 96px */
$ui-font-size-9xl: 8rem; /* 128px */
